<div class="main-layout">
	<app-header></app-header>

	<div class="body">
		<div class="customers-container">
			<h2>Customers</h2>

			<ng-container *ngFor="let c of customers">
				<div class="customer">
					<div>
						<img [src]="'https://api.dicebear.com/8.x/thumbs/svg?seed=' + c.name">
						<p>{{ c.name }}</p>
					</div>

					<button (click)="selectCustomer(c)">Select</button>
				</div>
			</ng-container>
		</div>

		<div class="services-container">
			<ng-container *ngIf="selectedCustomer">
				<h2>Available services</h2>

				<ng-container *ngIf="error">
					<div class="error-container">
						<p>{{ error }}</p>
					</div>
				</ng-container>

				<ng-container *ngFor="let s of services">
					<div class="service">
						<div>
							<img [src]="'https://api.dicebear.com/9.x/icons/svg?seed=' + s.name">
							<p>{{ s.name }}</p>
						</div>

						<button (click)="payInvoice(s)" style="min-width: 110px;" class="text-center">
							<ng-container *ngIf="!loadings.payment; else tmpLoading">
								Pay {{ s.price | currency }}
							</ng-container>
						</button>
					</div>
				</ng-container>
			</ng-container>
		</div>

	</div>
</div>

<ng-template #tmpLoading>
	<img src="https://media.tenor.com/_62bXB8gnzoAAAAi/loading.gif" style="display: block; margin: 0 auto; width: 20px;">
</ng-template>
